<h2 class="cartsh2">Carrito de Compras</h2>

<section class="cartsSectionFlex">
    {{#each productos}}
    <div>
        <div class="cartsFlexCard">
            <h3 class="cartsh3Card">{{this.product.title}}</h3>
            <p class="cartspQuantity">Cantidad: {{this.quantity}}</p>
            <p>${{this.product.totalPrice}}</p>
            <button class="cartsBtnEliminar"
                onclick="eliminarProducto('{{this.cartId}}', '{{this.product._id}}')">Eliminar</button>
        </div>
    </div>
    {{/each}}
    <h4 class="cartsh4Total">Monto Total: ${{totalCompra}}</h4>
    <p class="cartsAgregarMas">¿Te falto agregar algo? <a class="cartsVolverTienda" href="/products">Volver a la
            Tienda</a></p>
    <div>
        <button class="cartsBtnEliminar" onclick="vaciarCarrito('{{cartId}}')">Vaciar Carrito</button>
        <form method="post" action="/api/carts/{{cartId}}/purchase">
            <button type="submit" class="cartsFinalizar">Finalizar Compra</button>
        </form>
    </div>
</section>


{{!-- Organizar en un módulo en PUBLIC/JS --}}
<script>
    function eliminarProducto(cartId, productId) {
        fetch(`/api/carts/${cartId}/product/${productId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al eliminar el producto del carrito');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function vaciarCarrito(cartId) {
        fetch(`/api/carts/${cartId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al vaciar el carrito');
                }
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>