<div class="productsTitleFlex">
    <h2 class="productsh2">Catalogo de Productos</h2>
    <a href="/carts/{{cartId}}">
        <img class="productsCartLogo" src="./images/cart-logo.png" alt="logo del carrito">
    </a>
</div>
<div>
    <section class="productsFlexSection">
        {{#each productos}}
        <div>
            <div class="productsFlexCard">
                <h3 class="productsh3Title">{{title}}</h3>
                <div class="productImgContainer">
                    <img class="productImgMain" src={{img}} alt="">
                </div>
                <p class="productsFlexP">{{description}}</p>
                <p class="productsFlexP">Precio: ${{price}}</p>
                <form action="/api/carts/{{../cartId}}/product/{{id}}" method="POST">
                    <button class="productsAgregar" type="submit">Agregar</button>
                </form>
            </div>
        </div>
        {{/each}}
    </section>
</div>
<div>
    <div class="productsFlexPages">
        <div>
            {{#if hasPrevPage}}
            <a class="productsA" href="/products?page={{prevPage}}">тна Anterior</a>
            {{/if}}
            {{#if hasNextPage}}
            <a class="productsA" href="/products?page={{nextPage}}">Siguiente тнв</a>
            {{/if}}
        </div>
        <p class="productsFlexP">Pagina {{currentPage}} de {{totalPages}} </p>
        <p class="productsFlexP">Modificar <a class="productsA" href="/carts/{{cartId}}">Mi Carrito</a></p>
    </div>
</div>